<a href="/robots">Robot Inventory</a>

<h1><%= @robot.id %></h1>
<h2><%= @robot.name %></h2>
<h3><%= @robot.city %>, <%= @robot.state %></h3>
<h4>Birthdate: <%= @robot.birthdate %></h4>
<h4>Date Hired: <%= @robot.date_hired %></h4>
<p>Departent: <%= @robot.department%></p>
